::-webkit-scrollbar {
	width: 14px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #2563eb;
	border-radius: 20px;
	border: 4px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #1d4ed8;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: rgba($color: white, $alpha: 1);
	border-radius: 20px;
	border: 4px solid transparent;
	background-clip: content-box;
}

button, input, optgroup, select, textarea:focus-visible{
	outline: none;
}